#FAQ {
  .bg {
    object-position: center;
  }

  .faq {
  	margin-bottom: 105px;
  }

  .segment-part {
  	width: 100%;
    margin-bottom: 98px;
  }

  .icon {
    margin-top: 7px;
  }

  h4 {
    font-weight: 500;
    text-decoration: underline;
    color: #000;
  }
}
