#Services {
  	margin: 56px 0 210px 0;

  h2 {
    padding-bottom: 56px;
    margin-bottom: 49px;
  	font-family: 'ITC Cheltenham W03 Book';
  	font-size: 2.5rem;
    font-weight: normal;
  	color: rgba(0, 0, 0, 0.77);
  	border-bottom: 2px solid #f4f4f4;
  }


  .super {
    margin-bottom: 28px;
    font-family: 'Gotham A', 'Gotham B', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    color: #303030;
  }
}