$gray-200: #EEEEEE;
$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-600: #757575;
$gray-800: #424242;
$gray-900: #212121;

$green-a400: #00E676;
$green-500: #4CAF50;

$red-500: #F44336;
$yellow-500: #FFEB3B;

$primary-color: #254580;
$contrast-color: #0079A3;

$fontsize-small: 0.8em;
$fontsize-normal: 1.05em;
$fontsize-medium: 1.3em;
$fontsize-big: 1.8em;
$fontsize-bigger: 2.7em;
$fontsize-huge: 3.5em;